.imagen-sidebar {
  display: none;
}
.text-sidebar {
  display: none;
}
.menuSidebar li {
  list-style: none;
}
.sidebar-Header {
  display: none;
}
.logo-header {
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 860px) {
  .sidebar {
    grid-area: a;
    height: 2fr;
    background-color: #0c1e20;
    display: flex;
    flex-direction: column;
    width: 300px !important;
    margin: 0;
  }
  .sidebar-Header {
    display: flex;
    gap: 0.5em;
    border-bottom: 1px solid;
  }
  .logo-header {
    text-transform: uppercase;
    color: #ffffff;
  }
  .text-sidebar {
    color: #4f5b67;
    display: block;
  }
  .text-sidebar:hover {
    color: #ffffff;
  }

  .menuSidebar {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .menuSidebar li {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    padding-left: 1em;
    list-style: none;
    text-decoration: none;
  }
  .elements-sidebar {
    text-decoration: none;
  }
  .imagen-sidebar {
    display: block;
  }
}
