@import "react-alice-carousel/lib/alice-carousel.css";

.carousel img{
    border-radius: 8px;
    width: 45%;
    margin-left:28%;
    position: relative!important;  
    
}
.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active{
    background-color: #a20202;
}

.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
    color: #a20202;

}

.alice-carousel__next-btn-item, .alice-carousel__prev-btn-item{
    font-size: 2em;
}

