.container-deals {
  background-color: #0c1e20;
  padding-top: 1em;
}

.container-dealsCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.text-DealsCard {
  background-color: white;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 1em;
  padding: 0.5em;
  border-radius: 5px;
}
.container-arrowHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 3em;
}
.container-arrow {
  display: flex;
  gap: 0.5em;
}
.arrow {
  all: none;
  border: none;
  background-color: black;
  font-size: 20px;
  color: white;
  border-radius: 50px;
}
