.View{
    background-color: #0C1E20;
    color: aliceblue;
    margin-block: 4em;
}


body{
    background-color: #0C1E20;
}

.View--titleSection{
    margin: 1.5em;
}

.dangerouslyFather img{ 
    width: 80%;
    border-radius: 15px;
    align-self: center;
    margin: 2em;    
    

}

.alice-carousel__stage-item img{
    box-shadow: rgba(77, 77, 77, 0.25) 0px 14px 28px, rgba(222, 222, 222, 0.22) 0px 10px 10px;
    overflow-y: visible;
    z-index: 12;
}

.dangerouslyFather{
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.View--carouselcontainer{
    position: relative;
    left: 0;
    margin-right: auto;
    margin-left: -33%;
    overflow:hidden
}

.absolute{
   position: absolute;
   top: 0px;
   right: 0;
   width: 22%;
   box-shadow: 0px 0px 0px 2px black;
   height: 100%;
   background-color: #0C1E20;
   box-shadow: rgba(214, 214, 214, 0.16) 0px 3px 6px, rgba(131, 131, 131, 0.23) 0px 3px 6px -10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.View--carouselcontainer--column{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    right: 0;
   
}

.View--buyButton{
    all: none;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    background-color: #a20202;
    width: 100%;
    padding: 1em;
}

.View--pricecontainer{
    display: flex;
    gap: 1em;   
    align-items: center;
    justify-content: space-around;
}

.View--discount{
    background-color: #0DA0B2;
    padding: 0.5em;
    padding-block: 0.2em;
    border-radius: 8px;
    margin: 0;
}

.View--initialprice{
   text-decoration: line-through;
   color: grey;

}

.View--finalprice{
   font-size: 1.5em;
   margin-right: 0.3em;
}

